<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#header-navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Recipe Book</a>

  <div class="collapse navbar-collapse" id="header-navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="#" (click)="onSelect('recipe')" class="nav-link">Recipes</a>
      </li>
      <li class="nav-item">
        <a href="#" (click)="onSelect('shopping')" class="nav-link">Shopping List</a>
      </li>

    </ul>
    <div class="navbar-nav dropdown text-right">
      <a class="nav-link dropdown-toggle" href="#" id="manage-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage
      </a>
      <div class="dropdown-menu" aria-labelledby="manage-dropdown">
        <a class="dropdown-item" href="#">Fetch Data</a>
        <a class="dropdown-item" href="#">Save Data</a>
      </div>
    </div>
  </div>
</nav>
